@import './brand/tokens/colors.css';

body {
  margin: 0;
  background: var(--ld-bg);
  color: var(--ld-text-body);
  font-family: var(--ld-font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ld-font-display);
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
